<!-- CSS Style Sheet (can't add comments because it messes the code up for some reason)-->

#container{
  width:100%;
  height:auto;
}
#header{
  background-color:#010060;
  color:white;
  padding:20px;
  height:375px;
}
#main{
  position:relative;
  height:790px;
}
#menu{
  position:absolute;
  left:0px;
  top:0px;
  background-color:#010090;
  color:white;
  padding:20px;
  width:160px;
  height:750px;
}
#content{
  position:absolute;
  left:190px;
  top:0px;
  background-color:#EEEEEE;
  color:black;
  padding:20px;
  height:750px;
}
footer{
  text-align:center;
  background-color:#010060;
  color:white;
  padding:20px;
}
#footer{
  text-align:center;
  background-color:#010060;
  color:white;
  padding:20px;
}
h1{
text-align:center;
font-size:500%
}
h2{
text-align:center;
}
a{
color:white
}
ul{
list-style-type:none
}
iframe{
	width:550px;
	height:300px;
}
    

