<!-- CSS Style Sheet (can't add comments because it messes the code up for some reason)-->

#container{
  width: 100%;
  height: 500px;
}
#header{
  background-color: #010060;
  color: white;
  padding:20px;
  height:375px;
  width:100%;
}
#menu{
  float:left;
  background-color:#010090;
  color:white;
  padding:20px;
  width:150px;
  height:750px;
}
#content{
  background-color:#EEEEEE;
  color:black;
  padding:20px;
  padding-left:210px;
  height:750px;
}
footer, #footer{
  text-align:center;
  background-color:#010060;
  color:white;
  padding:20px;
}
h1{
text-align:center;
font-size:500%
}
h2{
text-align:center;
}
a{
color:white
}
ul{
list-style-type:none
}
iframe{
	width:550px;
	height:300px;
}
    

